<!DOCTYPE html>
<html lang="en">
<!-- load javascript here -->
<script src="static/libs/scripts.js"></script>
<script src="static/libs/jsnetworkx.js"></script>
<script src="static/libs/javascript_clustering.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>


<!-- load ground points json  -->
<script> 
let groundPoints; // Declare globally

(async () => {
  groundPoints = await loadGroundPoints();
})();
</script>

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Data Dashboard">
   <meta name="author" content="Jack Savage">
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <link rel="stylesheet" href="static/libs/style.css">
   <title>Data Dashboard</title>
 </head>

 <!-- INFO AND ABOUT SECTIONS -->
 <body>
    <div class="about">
      <h1 style="text-align:center;">Interactive Multi-Camera Localization Project (Locamotiv)</h1>
      <h4 style="text-align:center;">The code can be found on Github <a href="https://github.com/jeckseveg/interactive_localization">here</a></h4>
      <h4 style="text-align:center;">The StreetAware dataset can be found <a href="https://drive.google.com/drive/folders/1BPtiIF8gBOoZANAGkwDjJUYakpCUYHM1">here</a></h4>
    </div>

    <script>
    const express = require('express')
    const app = express()
    const port = process.env.PORT || 4000;

    app.get('/', (req, res) => {
      res.send('Hello World!')
    })

    app.listen(port, () => {
      console.log(`Example app listening on port ${port}`)
    })

    // load ground points for clustering
    const ground_points = loadGroundPoints()
    </script>

    <!-- MAIN BODY OF WEB APP -->
    <div class="app-container" id="app_container">
      <!-- Left section -->
      <div class="left-content" id="left_section">
        <div id="topdown"></div>
        <div class='row'>
          <div class="column"><button id="toggle-centroids" activated=true>Toggle Centroids</button></div><!-- >Localize detections</button> -->
          <div class="column"><button id="toggle-ground-points" activated=true >Toggle Points</button></div>
          <div class="column"><button id="toggle-boxes" activated=false >Toggle Boxes</button></div>
          
        </div>
        <div class="row">
          <div class="column">
            <div class="slider-container">
              <label for="centroid-slider">Min Centroid Points</label>
              <input type="range" id="centroid-slider" min="1" max="8" value="2" class="slider" >
              <span id="centroid-slider-value">2</span>
            </div>
          </div>
          <div class="column">
            <div class="slider-container">
              <label for="max-dist-slider">Max Clustering Distance</label>
              <input type="range" id="max-dist-slider" min="5" max="70" value="40" class="slider" >
              <span id="max-dist-slider-value">40</span>
            </div>
          </div>
          <div class="column">
            <div class="slider-container">
              <label for="opacity-slider">Ground Point Opacity</label>
              <input type="range" id="opacity-slider" min="0" max="100" value="100" class="slider" >
              <span id="opacity-slider-value">100</span>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="column">
            Each colored dot represents
          </div>
        </div>
        <!-- Button controls -->
        <script>
          let opacity = 1.0
          let max_dist = 40
          let centroidsActive = true;
          let ground_points_active = true;
          let box_toggler_active = false;
          var centroid_slider = document.getElementById("centroid-slider")
          var centroid_valueSpan = document.getElementById("centroid-slider-value")
          var max_dist_slider = document.getElementById("max-dist-slider")
          var max_dist_valueSpan = document.getElementById("max-dist-slider-value")
          var opacity_slider = document.getElementById("opacity-slider")
          var opacity_valueSpan = document.getElementById("opacity-slider-value")

          // select all buttons and add event listener for each
          var ground_points_button = $("#toggle-ground-points")[0];
          ground_points_button.addEventListener("click", toggle_ground_points)
          var centroid_button = $("#toggle-centroids")[0];
          centroid_button.addEventListener("click", toggle_centroids)

          // slider update behavior
          centroid_slider.oninput = function() {
            centroid_valueSpan.textContent = this.value;
            frameUpdateEngine(0, groundPoints);
          };
          max_dist_slider.oninput = function() {
            max_dist_valueSpan.textContent = this.value;
            max_dist=this.value;
            frameUpdateEngine(0, groundPoints);;
          };
          opacity_slider.oninput = function() {
            opacity_valueSpan.textContent = this.value;
            opacity = 0.01*this.value;
            updateSVG();
          };

        </script>
        <!-- Build the svg -->
        <script> 
          const colors = ['red','#00CC66','#3399FF','orange','#CC33CC','yellow','white','#ff9999']
          const cameras = [0,1,2,3,4,5,6,7]
          var colorFunc = d3.scaleOrdinal()
                        .domain(cameras)
                        .range(colors);
          const svg = d3.select("div#topdown")
              .append("div")
              // Container class to make it responsive.
              .classed("svg-container", true) 
              .append("svg")
              .attr("id", "svg-id") // svg id
              // Responsive SVG needs these 2 attributes and no width and height attr.
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 570 478")
              .classed("svg-content-responsive", true) // Class to make it responsive.
         
              svg.append("image")
              .attr("xlink:href", "../static/data/chase_1/topdown.png")
              .attr("width","100%")
              .attr("height","100%")
              .attr("id","topdown-image-id");  
              
          const g = svg.append("g")
               .attr("transform",
               "translate(" + 0 + "," + 0 + ")");
          
          // legend
          spaceBetween = 16;
          xStart = 20;
          yStart = 20;
          squareSize = 10;

          svg.append("rect")
            .attr("x",xStart-10)
            .attr("y",yStart-10)
            .attr("height",140)
            .attr("width",50)
            .attr("opacity",0.9)
            .attr("fill","#383838")

          svg.selectAll("legend_markers")
            .data(cameras)
            .enter()
            .append("rect")
            .attr("x", xStart)
            .attr("y", function(d,i){ return yStart + i*spaceBetween}) // 100 is where the first dot appears. 25 is the distance between dots
            .attr("width", squareSize)
            .attr("height", squareSize)
            .style("fill", function(d){ return colorFunc(d)})

          svg.selectAll("mylabels")
            .data(cameras)
            .enter()
            .append("text")
              .attr("x", xStart + 20)
              .attr("y", function(d,i){ return yStart+ 6 + i*(spaceBetween)}) // 100 is where the first dot appears. 25 is the distance between dots
              .style("fill", function(d){ return colorFunc(d)})
              .text(function(d){ return d+1})
              .attr("text-anchor", "left")
              .style("alignment-baseline", "middle")
              .style("font-size", "12px")


               
      </script>
      <br>
      </div>

      <!-- Right section -->
      <div class="right-content" id="right_section">
        <!-- Video Container -->
        <div class="video box" style="padding-bottom: 20px;">
          <!-- <canvas id="videoCanvas"></canvas> -->
          <div class='row'>
            <div class='column'>
              <video id="video_1" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_1/video/left_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_1/video/left_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_1" src="{{video_paths[1]['left']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_2" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_1/video/right_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_1/video/right_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_2" src="{{video_paths[1]['right']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_3" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_2/video/left_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_2/video/left_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_3" src="{{video_paths[2]['left']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_4" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_2/video/right_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_2/video/right_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_4" src="{{video_paths[2]['right']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div class='row'>
            <div class='column'>
              <video id="video_5" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_3/video/left_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_3/video/left_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_5" src="{{video_paths[3]['left']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_6" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_3/video/right_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_3/video/right_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_6" src="{{video_paths[3]['right']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_7" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_4/video/left_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_4/video/left_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_7" src="{{video_paths[4]['left']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_8" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_4/video/right_quarter.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_4/video/right_quarter_boxes.mp4" type="video/mp4">
                <!-- <source id="source_8" src="{{video_paths[4]['right']}}" type="video/mp4"> -->
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          
          // Update source URL
          var box_toggler = document.getElementById("toggle-boxes");
          box_toggler.addEventListener("click", toggle_boxes);
          box_toggler_active = false;
          box_toggler.setAttribute('activated', "false");
          box_toggler.style.backgroundColor = "#533";
        </script>
        
        <!-- progress bar / play pause button-->
        <div id="playback">
          <div id="button-wrapper">
            <button id="play-pause"><img id="play-pause-image" src="{{ url_for('static', filename='images/play_button.png') }}"></button>
          </div>
          <div id="scrubber">
            <div id="progress"></div>
          </div>
          <div id="time-display"></div>
        </div>

        <!-- play/pause + scrubbing + video time-->
        <script type="text/javascript">
          const fps = 14.403
          //scrubbing
          $(document).ready(function () {
            var videos = $("video"); 
            var $scrubber = $(scrubber);
            var $progress = $(progress);
            
            for (i = 0; i<videos.length; i++){
              videos[i].addEventListener("timeupdate", videoTimeUpdateHandler);
            }
              
            $scrubber.bind("mousedown", scrubberMouseDownHandler);
            
            function videoTimeUpdateHandler(e) { 
                var video = videos[0]; 
                var percent = video.currentTime / video.duration;
                updateProgressWidth(percent);     
            }
            
            function scrubberMouseDownHandler(e) { 
                var $this = $(this);
                var x = e.pageX - $this.offset().left;
                var percent = x / $this.width();
                updateProgressWidth(percent);
                updateVideoTime(percent);
            }
            
            function updateProgressWidth(percent) { 
                $progress.width((percent * 100) + "%");
            }
            
            function updateVideoTime(percent) {
              // apply this one to all
              for (i = 0; i<videos.length; i++){
                videos[i].currentTime = percent * videos[i].duration;
              }
            }
          });

        // display video time //
        var video_1 = $("video")[0]
        var time_display = document.getElementById("time-display");
        


        // create payload for flask
        // get location and active sensor info
        var new_buttons = document.querySelectorAll('.button-container button');
        var activatedValues = Array.from(new_buttons).map(button => button.getAttribute("activated"));
        
        let graph_data = 0;
        
        var added = false
        // event listeners for framewise activity
        video_1.addEventListener('play', () => {
          if (!added){
            video_1.requestVideoFrameCallback(frameUpdateEngine);
            added = true
          } 
        });
        
        video_1.addEventListener("timeupdate", updateTimeDisplay);

        // play/pause functionality
        var videos = $("video");
        var playButton = document.getElementById("play-pause");
        var playImage = document.getElementById("play-pause-image");
        var playIconPath = "{{ url_for('static', filename='images/play_button.png') }}";  
        var pauseIconPath = "{{ url_for('static', filename='images/pause_button.png') }}"; 
        let isPlaying = false;
                
        playButton.addEventListener("click", function() {
          if (isPlaying) {
            for (i = 0; i<videos.length; i++){
                videos[i].pause();
              }
            video_1.cancelVideoFrameCallback(frameUpdateEngine);
            playImage.src = playIconPath;
          } else {
            for (i = 0; i<videos.length; i++){
                videos[i].play();
                
              }
            playImage.src = pauseIconPath; // update play / pause button
          }
          frameUpdateEngine(0, groundPoints);;
          isPlaying = !isPlaying;
        });
      </script>
        <!-- camera selector -->
        <div class ="button-container">
          <button activated=true>Toggle 1</button>
          <button activated=true>Toggle 2</button>
          <button activated=true>Toggle 3</button>
          <button activated=true>Toggle 4</button>
          <button activated=true>Toggle 5</button>
          <button activated=true>Toggle 6</button>
          <button activated=true>Toggle 7</button>
          <button activated=true>Toggle 8</button>
          <form>
            <label for="playback_label">Playback Speed:</label>
            <select name="playback_speed" id="playback_speed" onchange="updatePlaybackSpeed()">
              <option value=1.0>1.00x</option>
              <option value=0.75>0.75x</option>
              <option value=0.5>0.50x</option>
              <option value=0.25>0.25x</option>
            </select>
          </form>
          <script>
            // select all buttons and add event listener for each
            const buttons = document.querySelectorAll('.button-container button');
            for(var i = 0; i < buttons.length; i++) {
              buttons[i].addEventListener("click", bindClick(i));
            }
          </script>
        </div>
      </div>
    </div> 
  </div>
</body>
</html>