<!DOCTYPE html>
<html lang="en">
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Data Dashboard">
   <meta name="author" content="Jack Savage">
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <link rel="stylesheet" href="static/libs/style.css">
   <title>Data Dashboard</title>
 </head>


 <!-- INFO AND ABOUT SECTIONS -->
 <body>
    <div class="about">
      <h1 style="text-align:center;">VizML Final Project</h1>
      <h4>The code can be found on Github <a href="https://github.com/">here</a></h4>
    </div>
    
      <!-- load javascript here -->
    <script src="static/libs/scripts.js"></script>
    <script>
    // get data from flask
    function getData() {
      fetch("/get_data")
        .then(response => response.json())
        .then(data => {
          console.log(data.message + ", " + data.name);
        });
    }
    getData();
    </script>
    <!-- MAIN BODY OF WEB APP -->
    <div class="app-container" id="app_container">
      
      
      <!-- Left section -->
      <div class="left-content" id="left_section">
        <!-- <img id="topdown-image" src="{{ url_for('static', filename='images/topdown.jpeg') }}"> -->
        <div id="topdown"></div>
        <p style="text-align:center;">Select location | Playback speed adjustment | Choose model / change parameters (if applicable)</p>
        <form id="localization-time-inputs">
          <!-- start time -->
          Start Time: 
          <input type="number" id="start-minutes-input" min="0" max="59" step="1" value="00">
          <label for="start-minutes-input">minutes:</label>
          <input type="number" id="start-seconds-input" min="0" max="59" step="1" value="00">
          <label for="start-seconds-input">seconds:</label>
          <br>

          <!-- duration -->
          Duration:
          <input type="number" id="duration-minutes-input" min="0" max="59" step="1" value="00">
          <label for="duration-minutes-input">minutes:</label>
          <input type="number" id="duration-seconds-input" min="0" max="59" step="1" value="00">
          <label for="duration-seconds-input">seconds:</label>
          <br>
          <button id="run-localization">Localize Detections</button><!-- onclick="run_localization()">Localize detections</button> -->
        </form>
        
        <!-- Build the svg -->
        <script> 
          const colors = ['red','#00CC66','#3399FF','orange','#CC33CC','yellow','white','#ff9999']
          const cameras = [0,1,2,3,4,5,6,7]
          var colorFunc = d3.scaleOrdinal()
                        .domain(cameras)
                        .range(colors);
          const svg = d3.select("div#topdown")
              .append("div")
              // Container class to make it responsive.
              .classed("svg-container", true) 
              .append("svg")
              .attr("id", "svg-id") // svg id
              // Responsive SVG needs these 2 attributes and no width and height attr.
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 570 478")
              .classed("svg-content-responsive", true) // Class to make it responsive.
         
              svg.append("image")
              .attr("xlink:href", "../static/data/chase_1/homography_targets/chase_1.png")
              .attr("width","100%")
              .attr("height","100%")
              .attr("id","topdown-image-id");  
              
          const g = svg.append("g")
               .attr("transform",
               "translate(" + 0 + "," + 0 + ")");
          
          // legend
          spaceBetween = 16;
          xStart = 20;
          yStart = 20;
          squareSize = 10;

          svg.append("rect")
            .attr("x",xStart-10)
            .attr("y",yStart-10)
            .attr("height",140)
            .attr("width",50)
            .attr("opacity",0.9)
            .attr("fill","#383838")

          

          svg.selectAll("legend_markers")
            .data(cameras)
            .enter()
            .append("rect")
            .attr("x", xStart)
            .attr("y", function(d,i){ return yStart + i*spaceBetween}) // 100 is where the first dot appears. 25 is the distance between dots
            .attr("width", squareSize)
            .attr("height", squareSize)
            .style("fill", function(d){ return colorFunc(d)})

          svg.selectAll("mylabels")
            .data(cameras)
            .enter()
            .append("text")
              .attr("x", xStart + 20)
              .attr("y", function(d,i){ return yStart+ 6 + i*(spaceBetween)}) // 100 is where the first dot appears. 25 is the distance between dots
              .style("fill", function(d){ return colorFunc(d)})
              .text(function(d){ return d+1})
              .attr("text-anchor", "left")
              .style("alignment-baseline", "middle")
              .style("font-size", "12px")


          // form submission functionality
          const form = document.getElementById("localization-time-inputs");
          form.addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission       
            console.log("update the settings here!")
          })     
               
      </script>
        <script>
          
        </script>
        <br>
        <div class='row'>
          <div class='column'>
            <div class='blue-column'>
              Some Text in Column One
            </div>
          </div>
          <div class='column'>
            <div class='green-column'>
              Some Text in Column Two
            </div>
          </div>
        </div>
        <div class="inputs">
          <div id="file"></div>
        </div>
      </div>


      <!-- Right section -->
      <div class="right-content" id="right_section">
        <!-- Dynamic Video Section -->
        <div class="video box" style="padding-bottom: 20px;">
          <canvas id="videoCanvas"></canvas>
          <div class='row'>
            <div class='column'>
              <video id="video_1" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_1/video/left/left_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_1/video/left/left_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_2" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_1/video/right/right_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_1/video/right/right_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_3" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_2/video/left/left_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_2/video/left/left_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_4" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_2/video/right/right_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_2/video/right/right_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div class='row'>
            <div class='column'>
              <video id="video_5" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_3/video/left/left_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_3/video/left/left_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_6" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_3/video/right/right_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_3/video/right/right_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_7" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_4/video/left/left_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_4/video/left/left_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class='column'>
              <video id="video_8" width="100%" preload="auto" playsinline>
                <!-- <source src="../static/data/chase_1/sensor_4/video/right/right_half.mp4" type="video/mp4"> -->
                <source src="../static/data/chase_1/sensor_4/video/right/right_quarter.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          function drawImge(){
              var video = document.querySelector("#webCamera");
              var canvas = document.querySelector("#videoCanvas");
              var ctx = canvas.getContext('2d');

              canvas.width = video.videoWidth;
              canvas.height = video.videoHeight;


              ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

              var faceArea = 300;
              var pX=canvas.width/2 - faceArea/2;
              var pY=canvas.height/2 - faceArea/2;

              ctx.rect(pX,pY,faceArea,faceArea);
              ctx.lineWidth = "6";
              ctx.strokeStyle = "red";    
              ctx.stroke();


              setTimeout(drawImge , 100);
          }
        </script>
        
        <!-- progress bar / play pause button-->
        <div id="playback">
          <div id="button-wrapper">
            <button id="play-pause"><img id="play-pause-image" src="{{ url_for('static', filename='images/play_button.png') }}"></button>
          </div>
          <div id="scrubber">
            <div id="progress"></div>
          </div>
          <div id="time-display"></div>
        </div>

        <!-- play/pause + scrubbing + video time-->
        <script type="text/javascript">
          const fps = 14.403
          //scrubbing
          $(document).ready(function () {
            var videos = $("video"); 
            var $scrubber = $(scrubber);
            var $progress = $(progress);
            
            for (i = 0; i<videos.length; i++){
              videos[i].addEventListener("timeupdate", videoTimeUpdateHandler);
            }
              
            $scrubber.bind("mousedown", scrubberMouseDownHandler);
            
            function videoTimeUpdateHandler(e) { 
                var video = videos[0]; 
                var percent = video.currentTime / video.duration;
                updateProgressWidth(percent);     
            }
            
            function scrubberMouseDownHandler(e) { 
                var $this = $(this);
                var x = e.pageX - $this.offset().left;
                var percent = x / $this.width();
                updateProgressWidth(percent);
                updateVideoTime(percent);
            }
            
            function updateProgressWidth(percent) { 
                $progress.width((percent * 100) + "%");
            }
            
            function updateVideoTime(percent) {
              // apply this one to all
              for (i = 0; i<videos.length; i++){
                videos[i].currentTime = percent * videos[i].duration;
              }
            }
          });

        // display video time //
        var video_1 = $("video")[0]
        var time_display = document.getElementById("time-display");
        
        function updateTimeDisplay() {
          const currentTime = video_1.currentTime;
          const totalDuration = video_1.duration;
          const formattedTime = formatTime(currentTime, totalDuration);  // Implement formatTime function
          time_display.textContent = formattedTime;
        }

        function formatTime(currentTime, totalDuration) {
          // Convert seconds to integer values for minutes and seconds
          const currentMinutes = Math.floor(currentTime / 60);
          const currentSeconds = Math.floor(currentTime % 60);

          // Convert seconds to integer values for total minutes and seconds
          const totalMinutes = Math.floor(totalDuration / 60);
          const totalSeconds = Math.floor(totalDuration % 60);

          // Format minutes and seconds with zero-padding using String.padStart()
          const formattedCurrentMinutes = String(currentMinutes).padStart(2, "0");
          const formattedCurrentSeconds = String(currentSeconds).padStart(2, "0");
          const formattedTotalMinutes = String(totalMinutes).padStart(2, "0");
          const formattedTotalSeconds = String(totalSeconds).padStart(2, "0");

          // Return the formatted time string
          return `${formattedCurrentMinutes}:${formattedCurrentSeconds} / ${formattedTotalMinutes}:${formattedTotalSeconds}`;
        }

        // create payload for flask
        // get location and active sensor info
        var new_buttons = document.querySelectorAll('.button-container button');
        var activatedValues = Array.from(new_buttons).map(button => button.getAttribute("activated"));

        // function to run every frame
        async function frameUpdateEngine(timestamp) {
          currentFrame = Math.floor(fps*video_1.currentTime) // store current frame for operations
          
          // create payload for flask
          var new_buttons = document.querySelectorAll('.button-container button');
          var activatedValues = Array.from(new_buttons).map(button => button.getAttribute("activated"));
          var json_payload = JSON.stringify({
            frame_number: currentFrame,
            activated_cameras: activatedValues,
            location: "chase_1"
          });

          // print frame number
          console.log(`Current Frame: ${currentFrame}`);
          console.log(json_payload)

          // send payload
          var graph_data = await sendAndReceiveData(json_payload)
          console.log("graph data")
          console.log(graph_data)
          
          updateSVG(graph_data) // update the svg

          // cleanse the video frame callback
          video_1.cancelVideoFrameCallback(frameUpdateEngine);
          video_1.requestVideoFrameCallback(frameUpdateEngine);
        }

        async function updateSVG(graph_data) {
          const startTime = performance.now();
          console.log(svg)
          console.log("^ svg")
          var nodeArray = Array.from(Object.values(graph_data.nodes));
          var nodeObject = graph_data.nodes
          var edgeArray = graph_data.edges
          var x_adjust = 137
          var y_adjust = 92          

          // clear svg
          svg.selectAll("circle").remove();
          svg.selectAll("path").remove();

          // scatter points for nodes
          g.selectAll("dot")
            .data(nodeArray)
            .enter()
            .append("circle")
              .attr("cx", function (d) { return d.position[0]+x_adjust; } )
              .attr("cy", function (d) {return d.position[1]+y_adjust;} )
              .attr("r", 4)
              .attr("fill",function (d) { return d.color; } )
              .style('opacity', 1);

          // paths for edges
          var link = d3.linkHorizontal()
                .source(function(d) {
                  //console.log("line");
                  //console.log(nodeObject[d[0]]['position']);
                  //console.log([nodeObject[d[0]]['position'][0]+x_adjust, nodeObject[d[0]]['position'][1]+y_adjust])
                    return [nodeObject[d[0]]['position'][0]+x_adjust, nodeObject[d[0]]['position'][1]+y_adjust];
                })
                .target(function(d) {
                  //console.log(d)
                  //console.log([nodeObject[d[1]]['position'][0]+x_adjust, nodeObject[d[1]]['position'][1]+y_adjust])
                    return [nodeObject[d[1]]['position'][0]+x_adjust, nodeObject[d[1]]['position'][1]+y_adjust];
                });
          
          d3.select("#svg-id") 
            .selectAll("path")
            .data(edgeArray)
            .join("path")
            .attr("stroke-width", 5)
            .attr("d", link)
            .classed("link", true);
             // THIS DOES NOTHING BUT WE SHOUD FIX IT
                // svg
          //   .append('path')
          //   .attr('d', link)
          //   .attr('stroke', 'black')
          //   .attr('fill', 'none')
          
          const endTime = performance.now();
          console.log("Execution time:", endTime - startTime, "milliseconds");
        };

        var added = false
        // event listeners for framewise activity
        video_1.addEventListener('play', () => {
          if (!added){
            video_1.requestVideoFrameCallback(frameUpdateEngine);
            added = true
          } 
        });

        
        video_1.addEventListener("timeupdate", updateTimeDisplay);

        // play/pause functionality
        var videos = $("video");
        var playButton = document.getElementById("play-pause");
        var playImage = document.getElementById("play-pause-image");
        var playIconPath = "{{ url_for('static', filename='images/play_button.png') }}";  
        var pauseIconPath = "{{ url_for('static', filename='images/pause_button.png') }}"; 
        let isPlaying = false;
                
        playButton.addEventListener("click", function() {
          if (isPlaying) {
            for (i = 0; i<videos.length; i++){
                videos[i].pause();
              }
            video_1.cancelVideoFrameCallback(frameUpdateEngine);
            playImage.src = playIconPath;
          } else {
            for (i = 0; i<videos.length; i++){
                videos[i].play();
                
              }
            playImage.src = pauseIconPath; // update play / pause button
          }
          frameUpdateEngine(0);
          isPlaying = !isPlaying;
        });
      </script>
        <!-- camera selector -->
        <div class ="button-container">
          <button activated="True">View 1</button>
          <button activated="True">View 2</button>
          <button activated="True">View 3</button>
          <button activated="True">View 4</button>
          <button activated="True">View 5</button>
          <button activated="True">View 6</button>
          <button activated="True">View 7</button>
          <button activated="True">View 8</button>
          <script>
            // select all buttons and add event listener for each
            const buttons = document.querySelectorAll('.button-container button');
            for(var i = 0; i < buttons.length; i++) {
              buttons[i].addEventListener("click", bindClick(i));
            }
            // change button color on click
            function bindClick(i) {
              return function() {
                // turn on/off

                if (buttons[i].style.backgroundColor!='rgb(85, 51, 51)'){
                buttons[i].style.backgroundColor = "#533"
                buttons[i].setAttribute('activated','False')
                videos[i].style.opacity = 0.5
                }
                // turn off/on
                else{
                buttons[i].style.backgroundColor = "#333"
                buttons[i].setAttribute('activated','True')
                videos[i].style.opacity = 1.0
                }
                frameUpdateEngine(0);
                console.log('hoorah')
              };
            }
          </script>
        </div>
      </div>
    </div> 
  </div>
</body>
</html>