<!DOCTYPE html>
<html lang="en">
    <!-- load javascript here -->
    <script src="static/libs/scripts.js"></script>
    <script src="static/libs/jsnetworkx.js"></script>
    <script src="static/libs/javascript_clustering.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.js" integrity="sha512-f26fxKZJiF0AjutUaQHNJ5KnXSisqyUQ3oyfaoen2apB1wLa5ccW3lmtaRe2jdP5kh4LF2gAHP9xQbx7wYhU5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Data Dashboard">
        <meta name="author" content="Jack Savage">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="icon" type="image/x-icon" href="../static/images/locamotiv_logo.png">
        <link rel="stylesheet" href="static/libs/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.css" integrity="sha512-4OzqLjfh1aJa7M33b5+h0CSx0Q3i9Qaxlrr1T/Z+Vz+9zs5A7GM3T3MFKXoreghi3iDOSbkPMXiMBhFO7UBW/g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> </head>
        <title>Locamotiv</title>
    <!-- INFO AND ABOUT SECTIONS -->
        <body>
            <div class="about">
                <h1 style="text-align:center;">Locamotiv: Interactive Multi-Camera Localization Mapping</h1>
                <h4 style="text-align:center;">The code can be found on Github <a href="https://github.com/jeckseveg/interactive_localization">here</a></h4>
                <h4 style="text-align:center;">The StreetAware dataset can be found <a href="https://drive.google.com/drive/folders/1BPtiIF8gBOoZANAGkwDjJUYakpCUYHM1">here</a></h4>
            </div>
        </body>
    </head>
</html>